*{
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:blueviolet ;
}

.todo-list{
  width:90vh;
  background: rgba(227, 221, 239, 0.779);
  backdrop-filter: blur(15px);
  height: 90vh;
  border-radius: 10px;
  
  box-shadow:0 0 40px rgba(216, 9, 9, 0.3);
  color:#fff;
  text-align: left;
}
.todo-list h2{
  text-align: center;
  color: black;
  box-shadow: 0 0 5px white;
  border-radius: 3px;
  background: rgb(238, 129, 129);
  height: 40px;
}
.lists{
  border: 0 0 10px black
}
.lists p{
  color: rgb(6, 5, 5);
  text-align: left;
  padding: 3px;

}
.add-btn{
  text-align: right;
  font-family:sans-serif;

}
.add-btn button{
  transform: translateY(-620px);
  cursor: pointer;
  padding: 5px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.add-btn:hover {
  color: #981b1b;
}